.img {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
}

.img-add {
    background: url(images/task-add.png);
    background-repeat: no-repeat;
}

.img-edit {
    background: url(images/task-edit.png);
    background-repeat: no-repeat;
}

.img-remove {
    background: url(images/task-remove.png);
    background-repeat: no-repeat;
}

.img-ocorrencia {
    background: url(images/employee-warn.png);
    background-repeat: no-repeat;
}

.img-dependent {
    background: url(images/customers-add.png);
    background-repeat: no-repeat;
}

.img-ocorr-edit {
    background: url(images/clipboard-edit.png);
    background-repeat: no-repeat;
}

.img-ocorr-remove {
    background: url(images/task-remove.png);
    background-repeat: no-repeat;
}

.img-cc-add {
    background: url(images/tag_price-add.png);
    background-repeat: no-repeat;
}

.img-cc-remove {
    background: url(images/tag_price-remove.png);
    background-repeat: no-repeat;
}

.img-cc-edit {
    background: url(images/shopping-edit.png);
    background-repeat: no-repeat;
}

.header-profile {
    padding: 30px 25px;
    background: url("images/header-profile.png") no-repeat;
}

.img-profile {
    background-image: url("images/employee.png");
}

.img-anexo {
    background-image: url("images/attach.png");
}

.logo {
    width: 400px;
    height: 332px;
    display: inline-block;
    background-repeat: no-repeat;
    background: url("images/logo.png") no-repeat;
    opacity: 0.7;
    filter: alpha(opacity=0);
}

.img-down {
    background-image: url("images/cloud-download.png");
}

.img-return {
    background-image: url("images/return.png");
}

.img-print {
    background-image: url("images/print.png");
}

.ui-dialog {
    z-index: 2263 !important;
}

.ui-widget-overlay {
    z-index: 2262 !important;

}

#form-artigo .bootstrap-select button {
    background-color: #ffff;
    color: #484848;
}