ul.paginate{
    margin:auto;
    padding: 0;
}

ul.paginate li{
    list-style-type: none;
    display: inline-block;
    border:1px solid #CCCCCC;
    padding: 5px;
    margin:2px
}
ul.paginate li.active{
    list-style-type: none;
    display: inline-block;
    border:1px solid #CCCCCC;
    background-color: #CCCCCC;
    padding: 5px;
}

.modal-content{
    padding:20px;
}
/*
.modal-dialog{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 10px;
}
.modal-content{
    padding:10px;
}
*/

.required{  
}

.logo{
    margin-top: 50px;
    width:400px;

    height:246px;

    display:inline-block;


    background-repeat: no-repeat;

    background: url("images/logo.png") no-repeat;
    background-size: contain;
    opacity: 0.7;

    filter: alpha(opacity=0);

}
.required span{
    font-size: 8px;
    position:relative;
    top:-2px;
    color:red;  
}

.centro_add{
    width: 16px;
    height: 18px;
    display: block;
    background: url(../../img/archive_add.png);
    background-repeat: no-repeat;
}
.centro_view{
    width: 20px;
    height: 18px;
    display: block;
    background: url(../../img/centro_view.png);
    background-repeat: no-repeat;
}
.centro_views{
    width: 20px;
    height: 18px;
    background: url(../../img/centro_view.png);
    background-repeat: no-repeat;
}

.update{
    width: 20px;
    height: 18px;
    background: url(images/edit.png);
    background-repeat: no-repeat;
}
.anexos{
    width: 20px;
    height: 20px;
    background: url(images/cloud-add2.png);
    background-repeat: no-repeat;
}
.download{
    width: 20px;
    height: 20px;
    background: url(images/cloud-download.png);
    background-repeat: no-repeat;
}
.delet{
    width: 20px;
    height: 20px;
    background: url(images/delete.png);
    background-repeat: no-repeat;
}
.estornar{
    width: 20px;
    height: 20px;
    background: url(images/estornar.png);
    background-repeat: no-repeat;
}

.boleto{
    width: 20px;
    height: 20px;
    background: url(images/barcode.png);
    background-repeat: no-repeat;
}
.boleto_ok{
    width: 20px;
    height: 20px;
    background: url(images/barcode-ok2.png);
    background-repeat: no-repeat;
}
.print{
    width: 16px;
    height: 15px;
    background: url(images/print.png);
    background-repeat: no-repeat;
}
.print_view{
    width: 16px;
    height: 15px;
    background: url(images/print-find.png);
    background-repeat: no-repeat;
}