#calendario{
    /*width: 270px;*/
} 
#calendario td{
        width:80px;
        height:40px;
        text-align: center;
        border:1px solid;
        background: #E3E3E4;
    }

    #calendario td a {
        text-decoration: none;
    }

    #calendario .diaAtual{
        font-weight: bold;
        background: darkgrey;
    }
    
    #calendario .semana {
        background:#C9C9CA;
    }
    
    #calendario .titulo{
        background:#B1B1B2;
    }
    