@font-face {
    font-family: 'Gudea';
    font-style: normal;
    font-weight: 400;
    src: local('Gudea'), url(WTDyO8MdshuMhAnoLO0WMw.woff2) format('woff2'), url(Z6xYy_2MlN1cUISkeodEPA.woff) format('woff');
}
*{
    font-family: 'Gudea', sans-serif;
    font-size: 1em;
}

/* col-xs */
@media (max-width: 767px) {
    div.navbar-black{
        background: #333333;
    }

    div.container-block{}
}

/* col-sm */
@media (min-width: 768px) {
    body,html{
        height: 100%;
        width: 100%;
    }

    div.navbar-black{
        min-height: 100%;
        background: #333333;
    }

    div.container-block{
        min-height: 100%;
        padding: 0px;
        background: #FFFFFF;
    }

    div.container-block .navbar{
        border: none;
        border-radius: 0px;
    }
}

/* col-md */
@media (min-width: 992px) {
    body,html{
        height: 100%;
        width: 100%;
        background: #333333;
    }

    div.navbar-black{
        min-height: 100%;
        background: #333333;
    }

    div.container-block{
        min-height: 100%;
        padding: 0px;
        background: #FFFFFF;
    }

    div.container-block .navbar{
        border: none;
        border-radius: 0px;
    }
}

ul.menu{
    list-style: none;
    padding: 0px;
}

ul.menu li a{
    display: block;
    padding: 10px;
    border-bottom: 1px solid #444;
    box-shadow: 0px 1px #121212;
    color: #FFF;
}

ul.menu li a:last-child{
    border-bottom: none;
    box-shadow: none;
}

ul.menu li a:first-child{
    border-top: 1px solid #444;
    box-shadow: 0px -1px #121212;
}


@media (min-width: 992px),(min-width: 768px) {
    ul.menu{
        margin: 80px 0px;
    }

    ul.menu li a{

    }
}


ul.paginate{
    margin:auto;
    padding: 0;
}

ul.paginate li{
    list-style-type: none;
    display: inline-block;
    border:1px solid #CCCCCC;
    padding: 5px;
    margin:2px
}
ul.paginate li.active{
    list-style-type: none;
    display: inline-block;
    border:1px solid #CCCCCC;
    background-color: #CCCCCC;
    padding: 5px;
}

.modal-content{
    padding:20px;
}
/*
.modal-dialog{
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    padding: 10px;
}
.modal-content{
    padding:10px;
}
*/

.required{  
}

.required span{
    font-size: 8px;
    position:relative;
    top:-2px;
    color:red;  
}