.grid-container{
    width: 100%; 
    /* largura padrão para folha a4 */
    max-width: 21cm;      
  }
  /*-- our cleafix hack -- */ 
  .row:before, 
  .row:after {
    content:"";
    display: table ;
    clear:both;
  }
  [class*='col-'] {
    float: left; 
    min-height: 1px; 
    width: 16.66%; 
  }
  .col-1{ width: 16.66%; }
  .col-2{ width: 33.33%; }
  .col-3{ width: 50%;    }
  .col-4{ width: 66.66%; }
  .col-5{ width: 83.33%; }
  .col-6{ width: 100%;   }
  
  .clearfix{
    clear: both;
  }
  .text-right {
    text-align: right;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .pull-right {
    float: right !important;
  }
  .pull-left {
    float: left !important;
  }
  .table {
    width: 100%;
  }