@page {
    /*size: A4;*/
    margin: 0mm 17mm 0mm 17mm;
  }
  body {
    font-family: Arial, Helvetica, sans-serif !important;
  }
  .assinatura {
    font-size: 12px;
  }
  .tabela-medidas {
    margin-top: -30px;
    font-size: 12px;
  }
  .tabela-medidas th {
    text-align: left !important;
  }
  .tabela-medidas .title{
    background-color: #EBBEAF;
    -webkit-print-color-adjust: exact;
    padding: 7px;
  }
  .header {
    padding-top: 130px;
    font-size: 12px;
  }
  footer {
    height: 150px;
  }
  /* css padrão - não deletar */
  table.report-container {
    page-break-after:always;
  }
  thead.report-header {
    display:table-header-group;
  }
  tfoot.report-footer {
    display:table-footer-group;
  } 
  
  p.assinatura {
    text-align: center;
  }
  